h1, p {
    text-align: center;
}

.validation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start */
    height: 100vh;
    padding-top: 20px; /* Añadido para dar un poco de espacio desde arriba */
}

.input-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-container div {
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.validation-container form input[type="text"],
.validation-container form input[type="password"],
.validation-container form input[type="email"] {
    color: black;
}