h1 {
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start */
    height: 100vh;
    padding-top: 20px; /* Añadido para dar un poco de espacio desde arriba */
}

.login-container form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form input[type="text"],
.login-container form input[type="password"],
.login-container form input[type="email"] {
    color: black;
}