.overviewContainer {
    background-color: #f0f0f0; /* Cambia este color por el que desees */
    padding: 16px; /* Añade algo de espacio interno */
    border-radius: 8px; /* Bordes redondeados, opcional */
}

.overviewTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.overviewText {
    color: #666;
}
