h1 {
    text-align: center;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
}

.register-container form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container form input[type="text"],
.register-container form input[type="password"],
.register-container form input[type="email"] {
    color: black;
}